/* table thead { display:block; } */

table {
    height: 600px;
    overflow-y: scroll;
    display: block;
}


/* th {
    border: 1px solid #cccccc;
    padding: 2px;
}

th {
    font-weight: bold;
    text-transform: uppercase;
} */

tr:nth-child(even) {
    background-color: #dddddd;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.datarange {
    width: 275px;
}